numpy
nltk
streamlit>=1.30.0
spacy>=3.5.0
pdfplumber>=0.10.0
scikit-learn>=1.2.0
pandas>=1.5.0
sentence-transformers>=2.2.0
matplotlib>=3.5.0
altair==4.2.2
networkx
pyvis
rapidfuzz
plotly
dash
dash-cytoscape 
spacy
